<a href="https://colab.research.google.com/github/marciopmm/Estatistica_Ciencia_Dados/blob/main/18_Exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXERCÍCIO
Neste exercício, vamos utilizar a base de dados _credit_data.csv_, com informações de pagamentos de empréstimos.

In [4]:
import numpy as np
import pandas as pd
import random

## Carga do dataframe

In [6]:
df = pd.read_csv('drive/MyDrive/credit_data.csv')
df.shape

(2000, 5)

In [7]:
df.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

## Amostra Aleatória Simples

In [9]:
df_amostra_aleatoria_simples = df.sample(n=1000, random_state=1)
df_amostra_aleatoria_simples.head()

      i#clientid        income        age         loan  c#default
674          675  34158.633968  29.421142  2911.408067          0
1699        1700  25789.742025  45.316211  4442.331780          0
1282        1283  59589.064289  20.609764  4191.715856          0
1315        1316  49908.291867  29.550940  2903.036128          0
1210        1211  69132.462579  33.471182  7621.410219          0

## Amostra Sistemática

In [11]:
def amostrar_sistematicamente(df, num_amostras):
  intervalo = len(df) // num_amostras
  random.seed(1)
  inicio = random.randint(0, intervalo)
  indices = np.arange(inicio, len(df), step=intervalo)
  return df.iloc[indices]

In [12]:
df_amostragem_sistematica = amostrar_sistematicamente(df, 1000)
df_amostragem_sistematica.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
2           3  57317.170063  63.108049  8020.953296          0
4           5  66952.688845  18.584336  8770.099235          1
6           7  48430.359613  26.809132  5722.581981          0
8           9  40654.892537  55.496853  4755.825280          0

## Amostragem por Grupos

In [13]:
len(df) / 1000

2.0

In [15]:
def amostrar_agrupamento(df, numero_grupos):
  intervalo = len(df) / numero_grupos
  grupos = []
  id_grupo = 0
  contagem = 0
  for _ in df.iterrows():
    grupos.append(id_grupo)
    contagem += 1
    if contagem > intervalo:
      contagem = 0
      id_grupo += 1

  df['grupos'] = grupos
  grupo_selecionado = random.randint(0, numero_grupos)
  return df[df['grupos'] == grupo_selecionado]

In [18]:
df_amostragem_por_grupos = amostrar_agrupamento(df, 2)
df_amostragem_por_grupos.shape, df_amostragem_por_grupos['grupos'].value_counts()

((999, 6), 1    999
 Name: grupos, dtype: int64)

## Amostra Estratificada

In [19]:
from sklearn.model_selection import StratifiedShuffleSplit

In [20]:
df['c#default'].value_counts()

0    1717
1     283
Name: c#default, dtype: int64

In [21]:
split = StratifiedShuffleSplit(test_size=(1000 / len(df)))
for x, y in split.split(df, df['c#default']):
  df_x = df.iloc[x]
  df_y = df.iloc[y]

In [22]:
df_x.shape, df_y.shape

((1000, 6), (1000, 6))

In [23]:
df_y['income'].value_counts()

29496.594127    1
60624.815365    1
31722.730950    1
31645.632819    1
62988.826428    1
               ..
57179.402006    1
57119.739689    1
50064.346374    1
45971.133495    1
55066.182970    1
Name: income, Length: 1000, dtype: int64

## Amostra de Reservatório

In [24]:
stream = []
for i in range(len(df)):
  stream.append(i)

In [26]:
def amostrar_reservatorio(df, amostras):
  stream = []
  for i in range(len(df)):
    stream.append(i)

  i = 0
  tamanho = len(df)
  reservatorio = [0] * amostras
  for i in range(amostras):
    reservatorio[i] = stream[i]

  while i < tamanho:
    j = random.randrange(i + 1)
    if j < amostras:
      reservatorio[j] = stream[i]
    i += 1

  return df.iloc[reservatorio]

In [29]:
df_amostragem_reservatorio = amostrar_reservatorio(df, 1000)
df_amostragem_reservatorio.shape

(1000, 6)

In [30]:
df_amostragem_reservatorio.head()

      i#clientid        income        age         loan  c#default  grupos
0              1  66155.925095  59.017015  8106.532131          0       0
1              2  34415.153966  48.117153  6564.745018          0       0
2              3  57317.170063  63.108049  8020.953296          0       0
1436        1437  37005.071847  58.890320  1068.887398          0       1
4              5  66952.688845  18.584336  8770.099235          1       0